<style>
    th {
        text-align: center;
    }
    
    td {
        text-align: center;
    }
    
    td a {
        margin: 10px;
    }
</style>
<div class="container mt-2">

    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Stt</th>
                <th scope="col">Name</th>
                <th scope="col">Full name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth date</th>
                <th scope="col">School Fre</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of student let i = index ">
            <tr>
                <th scope="row"> {{i+1}}</th>
                <td>{{item.username}}</td>
                <td>{{item.fullname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.gender | getGender }}</td>
                <td>{{item.birthday | date : "dd/MM/YYYY" }}</td>
                <td>{{item.schoolfee | getMoney }}</td>
                <td>
                    <a class="btn btn-primary"> Edit </a>

                    <a class="btn btn-danger"> Delete </a>
                </td>
            </tr>

        </tbody>
    </table>

</div>