<style>
    .login_gg a {
        margin-left: 300px;
    }
</style>
<!-- <div class="container-fluid">
    <div class="col-6 offset-3 login_gg">
        <h3 class="text-center">Đăng nhập</h3>
        <a class="btn btn-primary" (click)="gg_login()"> đăng nhập bằng gg </a>
    </div>
</div> -->

<div class="container-fluid">
    <div class="col-6 offset-3 login_gg">
        <h3 class="text-center">Đăng Ký</h3>
        <a class="btn btn-primary" (click)="ggSignIn()"> đăng Ký Bằng gg </a>
    </div>
</div>