<style>
    .passH {
        display: flex !important;
        flex-wrap: wrap !important;
        column-gap: 10px;
    }
    
    .passH input {
        border: none;
    }
    
    th,
    td {
        text-align: center
    }
    
    .action a {
        margin: 10px;
    }
</style>
<div class="container m-2">
    <div class="input-group m-2">
        <div class="form-outline">
            <input type="search" id="form1" placeholder="Search student email ..." (keyup)="search($event)" class="form-control" />
        </div>

    </div>
</div>
<div class="container m-3">
    <table class="table table-bordered">
        <thead class="thead-dark ">
            <tr>
                <th>Stt</th>
                <th>User Name </th>
                <th>Email</th>
                <th width="230px">Avatar</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let stu of student,let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{stu.name}}</td>
                <td>{{stu.email}}</td>
                <td><img [src]="stu.avatar" alt=""></td>
                <td>
                    <h6>{{stu.roles}}</h6>
                </td>

                <td class="action">
                    <a class="btn btn-primary"> Edit</a>
                    <a class="btn btn-danger" (click)="delStudent(stu.id)">Delete </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>